<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/vue.js"></script>
    
</head>
<body>
    <div id="app">
         <p v-if="true">{{miaov}}</p> 
         <p v-show="true">{{miaov}}</p> 
     </div>
    <script>
           /*
  
    条件判断
    v-if
    语法： v-if="表达式"
    v-show
    语法   v-show="表达式"
           */
   
          

       var vm=  new Vue({
            el:'#app',
            data:{ //只有计划好的数据，才能做相应的响应 reactive
                miaov:1

            } 

        })
        
       
         
 </script>
</body>
</html>